{% load static %}
{% load humanize %}

<!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Blog</h2>
          <p>Recent posts form our Blog</p>
        </header>

        <div class="row">

        {% for post in posts %}
          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{{ post.image.url }}" class="img-fluid" alt=""></div>
              <span class="post-date">{{ post.published_date|naturalday }}</span>
              <h3 class="post-title">{{ post.title }}</h3>
              <a href="{% url 'appBlog:single' post.id %}" class="readmore stretched-link mt-auto"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
        {% endfor %}

        </div>

      </div>

    </section><!-- End Recent Blog Posts Section -->