{% extends 'appAccount/_base.html' %}


{% block title %}
    Sign Page
{% endblock %}

{% block form_elements %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>

    <label for="email" class="sr-only">Email address</label>
    <input type="email" id="email" name="email" class="form-control" placeholder="Email address" required autofocus>

    <label for="password1" class="sr-only">Password</label>
    <input type="password" id="password1" name="password1" class="form-control" placeholder="Password" required>

    <label for="password2" class="sr-only">Password</label>
    <input type="password" id="password2" name="password2" class="form-control" placeholder="confirm Password" required>
    <div class="mb-3">
        {{ form.captcha }}
    </div>
    <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    <br>
    <br>
    <h3 class="h3 mb-3 font-weight-normal"><a href="{% url 'appAccount:login' %}">Login</a></h3>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>

{% endblock %}

