{% extends 'appAccount/_base.html' %}


{% block title %}
    Enter New Password
{% endblock %}

{% block form_elements %}
    <h1 class="h3 mb-3 font-weight-normal">Enter New Password</h1>


    <label for="new_password1" class="sr-only">New Password</label>
    <input type="password" id="new_password1" name="new_password1" class="form-control" placeholder="Password" required>

    <label for="new_password2" class="sr-only">Confirm Password</label>
    <input type="password" id="new_password2" name="new_password2" class="form-control" placeholder="Confirm Password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Done</button>
    <br>
    <br>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
{% endblock %}

